alembic==0.9.1
appdirs==1.4.3
bleach==2.0.0
blinker==1.4
click==6.7
colorama==0.3.9
coverage==4.3.4
dominate==2.3.1
flask==0.12.1
flask_Bootstrap==3.3.7.1
flask_HTTPAuth==3.2.2
flask_Login==0.4.0
flask_Mail==0.9.1
flask_Migrate==2.0.3
flask_Moment==0.5.1
flask_PageDown==0.2.2
flask_Script==2.0.5
flask_SQLAlchemy==2.2
flask_WTF==0.14.2
ForgeryPy==0.1
html5lib==0.999999999
httpie==0.9.9
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.6
Markdown==2.6.8
MarkupSafe==1.0
packaging==16.8
Pygments==2.2.0
pyparsing==2.2.0
python_editor==1.0.3
requests==2.13.0
selenium==3.4.1
six==1.10.0
SQLAlchemy==1.1.9
visitor==0.1.3
webencodings==0.5.1
Werkzeug==0.12.1
wheel==0.24.0
WTForms==2.1
